generator client {
  provider = "prisma-client-js"
}

datasource db {
  provider = "mongodb"
  url      = env("DATABASE_URL")
}

model User {
    id          String @id @default(auto()) @map("_id") @db.ObjectId
    name        String
    email       String @unique
    password    String 
    create_at   DateTime @default(now())

    @@map("users")
}




////////// POSTGRES
datasource db {
  provider = "postgres"
  url      = env("DATABASE_URL")
}

model User {
    id          Int    @id @default(autoincrement())
    name        String
    email       String @unique
    password    String 
    create_at   DateTime @default(now())

    @@map("users")
}