@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
  
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-base: #eaecee;
  --background-skeleton: #eaecee;

  --navbar: 2;
  --container: 1;
  --body: 0;

  /* Button */
  --border-line-black: 1px solid #252525;

  /* Border- Line for Test Design */
  --border-line-red: 0px solid red;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: white;
  color: black; */
  background-color:var(--bgSoft);

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    border: var(--border-line-red);
}

.container {
  background-color: white;
  padding: 60px 0;
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border: var(--border-line-red);
}

.carousell img {
  height: 270px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
