.container {
  display: flex;
  font-size: 12px;
  display: flex;
  height: 100%;
  width: 100%;
  border: var(--border-line-red);
}

.wrapper {
  /* width: 100%; */
  min-width: 500px;
  background-color: var(--background-base);
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* gap: 30px; */
  /* border-radius: 5px; */
  height: 100vh;
  justify-content: center;
  border: var(--border-line-red);
}
.wrapperSlide {
  width: 100%;
  min-width: 550px;
  background-color: var(--background-base);
  background-color: #fff;
  text-align: center;
  height: 100vh;
  /* width: auto; */
  justify-content: center;
  border: var(--border-line-red);
}

.wrapperSlide img {
  display: flex;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.github {
  width: 100%;
  /* padding: 20px; */
  cursor: pointer;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
