.container-banner img {
    border: var(--border-line-red);
    background-color:var(--background-base);
    height: 100%;
    width: 100% ;
    border-radius: 12px;
    margin: 20px 0;
    filter: drop-shadow(6px 3px 6px #868686);
}

.container-banner {
    margin: 0;
    padding: 0;
    display: block;
    top: 0;
}

.container-banner-skeleton {
    margin: 20px 0;
    padding: 0;
    top: 0;
    width: 1178px; /* Atur lebar sesuai kebutuhan */
    height: 296px; /* Atur tinggi sesuai kebutuhan */
    background-color: var(--background-skeleton);
    border-radius: 12px;
    border: var(--border-line-red);
}

.banner {
    margin: 14px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    border: var(--border-line-red);

}

.image {
    position: relative;
    width: 100%;
    object-fit: cover;
    /* height: 100%; */
    /* height: 300px; */
    object-fit: cover;
    border: var(--border-line-red);
    border-radius: 12px;
    /* display: flex; */
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    height: auto;
    border-radius: 12px;
}

.buttons {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: var(--container); /* Menempatkan tombol di atas gambar */
    transform: translateY(-50%);
}
.thumbnail {
    margin-top: 20px;
    z-index: var(--container); /* Menempatkan thumbnail di atas gambar */
}
.thumbnail button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.thumbnail button:hover {
    background-color: #ddd;
}